*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

h1{
    margin: 22px 0;
}

/*Filter Buttons */
.filter-buttons{
    margin-bottom: 22px;
}

.filter-buttons button{
    padding: 10px 16px;
    margin: 6px;
    border: none;
    background: #333;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}

.filter-buttons button:hover,
.filter-buttons .active {
    background: #ff4d4d;
}

/*Gallery Grid*/
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    padding: 22px;
}

.image-box {
    overflow: hidden;
    cursor: pointer;
    border-radius: 12px;
}

.image-box img{
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.4s ease, filter 0.4s ease;
}

/*Hover Effect*/
.image-box:hover img{
    transform: scale(1.1);
    filter:brightness(80%);
}

/*Lightbox*/
.lightbox{
display: none;
position: fixed;
z-index: 1000;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.9);
justify-content: center;
align-items: center;
}

.lightbox img{
    max-width: 80%;
    max-height: 80%;
    border-radius: 12px;
}

.close{
    position: absolute;
    top: 22px;
    right: 32px;
    color: white;
    font-size: 36px;
    cursor: pointer;
}

.nav span{
    position: absolute;
    top: 50%;
    color: white;
    font-size: 42px;
    cursor: pointer;
    padding: 12px;
    user-select: none;
}

.prev{
    left: 5%;
}

.next{
    right: 5%;
}

/*Responsive*/
@media(max-width: 600px) {
    .lightbox img{
        max-width: 95%;
    }
}
