*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #f4f4f4;
    color: #333;
}

/*header*/
header{
    background: #111;
    padding: 16px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #fff;
}

.nav-links{
    list-style: none;
    display: flex;
}

.nav-links li{
margin-left: 22px;
}

.nav-links a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #00adb5;
}

/*sections*/
section{
    padding: 102px 10%;
    min-height: 100vh;
}

/*home*/
#home{
    background: #222;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#home span{
    color: #00adb5;
}

.btn{
    display: inline-block;
    margin-top: 22px;
    padding: 12px 22px;
    background: #00adb5;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.btn:hover{
    background: #007b80;
}

/*about*/
.section-title{
    text-align: center;
    margin-bottom: 22px;
    color: #00adb5;
}

.about-text{
    text-align: center;
    margin-bottom: 32px;
}

/*skills*/
.skills{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 22px;
}
.skill{
    background: #00adb5;
    color: #fff;
    padding: 22px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}
.skill:hover{
    transform: scale(1.05);
}

/*projects*/
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 22px;
}
.project-card{
    background: #fff;
    padding: 22px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.project-card:hover{
    transform: translateY(-10px);
}

/*contact*/
form{
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

form input, form textarea{
    padding:12px;
    margin: 12px 0;
    border-radius:6px;
    border: 1px solid #ccc;
}
form button{
    border: none;
    cursor: pointer;
}

/*footer*/
footer{
    background: #111;
    color: #fff;
    text-align: center;
    padding: 16px;
}

/*animation*/
.hidden{
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;
}

.show{
    opacity: 1;
    transform: translateY(0);
}

/*responsive*/
@media(max-width:768px){
    .nav-links{
        display: none;
    }
}
